<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.univ_littoral.nathan.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModifyProfileActivity"
            android:label="Modifier le profil"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ProfileActivity"
            android:label="Votre profil"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ConnectionActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HomeActivity"
            android:label="Vos recettes" />
        <activity
            android:name=".RecipeActivity"
            android:label="A vous de jouer !" />
        <activity
            android:name=".StockActivity"
            android:label="Votre placard" />
        <activity
            android:name=".OneCubActivity"
            android:label="Onecub" />
        <activity
            android:name=".AddIngredientActivity"
            android:label="Ajouter au placard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SelectIngredientActivity"
            android:label="Selectionner"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ModifyStockActivity"
            android:label="Modifier"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".SelectModifyIngredientActivity"
            android:label="Selectionner"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".IndexActivity"></activity>
    </application>

</manifest>